.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.login-card {
    max-width: 400px;
    padding: 10px;
}

.white-text {
    color: #ebebeb
}

.vertical-spacer {
    margin-top: 20px;
}