<mat-card appearance="outlined" class="room-card">
    <mat-card-header>
        <mat-card-title>
            <span class="white-text">
                China {{room().roomId}}
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="white-text">Players: {{room().playerIds.length}}/{{room().capacity}}</p>
    </mat-card-content>
    <span class="spacer"></span>
    <mat-card-actions align="end">
        @if(canRejoin()){
        <button mat-flat-button (click)="enterRoom('rejoin')">Rejoin</button>
        }
        @else {
        <button mat-button (click)="enterRoom('watch')">Watch</button>
        <button mat-flat-button (click)="enterRoom('join')" [disabled]="!canJoin()">Join</button>
        }
    </mat-card-actions>
</mat-card>