<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
    @if(playerId()){
    <span mat-menu-item><span>{{playerId()}}</span></span>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
    }
    @else {
    <button mat-menu-item (click)="login()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign in</span>
    </button>
    }
</mat-menu>