.history-container {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.hand-container {
    display: flex;
    flex-direction: row;
    align-items: start;

    .card {
        border-radius: 5px;
        width: 22px;
        height: 33px;
        display: flex;
        font-weight: bold;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        user-select: none;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;

        &.black-suit {
            color: black;
        }

        &.red-suit {
            color: red;
        }
    }
}