<div class="history-container">
    @for (hand of handsToDisplay(); track $index; let last=$last) {
    @if (hand.cards.length > 0) {
    <div class="hand-container" [class.hand-to-beat]="hand.isHandToBeat">
        @for (card of hand.cards; track $index) {
        <div class="card" [class.from-previous-rounds]="!last" [class.red-suit]="card.suit === 'd' || card.suit === 'h'"
            [class.black-suit]="card.suit === 'c' || card.suit === 's'">
            {{card.rank}}{{card.suit | suit}}
        </div>
        }
    </div>
    }
    @else {
    <span class="pass-msg" [class.from-previous-rounds]="!last">Pass</span>
    }
    }
</div>