@import "../node_modules/@angular/material/prebuilt-themes/cyan-orange.css";

html,
body {
    height: 100%;
    background: linear-gradient(to bottom, #1e1e2e, #232946, #191724);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}