$table-height: 60vh;
$table-width: 80vw;

.game-area {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc($table-width + 70px);

    .game-table {
        position: relative;
        min-width: 300px;
        min-height: 300px;
        width: $table-width;
        height: $table-height;
        border-radius: 50%;
        background-color: darkgreen;

        .player-container {
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}