@if(cards() === undefined){
<div class="card hidden">
    {{numCards()}}
</div>
}
@else {
<div class="hand-container">
    <div class="cards-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        @for (card of hand(); track $index) {
        <div class="card private" [class.red-suit]="card.suit === 'd' || card.suit === 'h'"
            [class.black-suit]="card.suit === 'c' || card.suit === 's'" [class.selected]="isSelected(card)"
            (click)=" toggleSelected(card)" (keyup.enter)="toggleSelected(card)" tabindex="0"
            (dblclick)="clearSelection()" cdkDrag cdkDragLockAxis="x" cdkDragBoundary=".cards-container">
            {{card.rank}}{{card.suit | suit}}
        </div>
        }
    </div>
    @if (cards()!.length > 1) {
    <button class="sort-btn" (click)="sort()">⇄</button>
    }
</div>
}